.card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.card-header {
  background-color: #f1f1f1;
  padding: 15px 15px;
  border-bottom: 1px solid #dee2e6;
  color: #343a40;
  text-transform: uppercase;
}

.card-header h2 {
  margin: 0;
  font-size: 1em;
  color: #174EA6;
}