<div class="dashboard-container">

  <app-sidebar></app-sidebar>

  <div class="main-content">
    <div class="dashboard-grid">
      <div class="flex gap-3">
        <div class="w-100">
          <app-card-dashboard title="Usuarios">
            <div class="controls-bar">
              <div class="left-controls">
                <button class="control-button" (click)="exportPDF()">
                  <i class="fa-solid fa-file-pdf"></i> PDF
                </button>
                <button class="control-button" (click)="proximamente()">
                  <i class="fas fa-copy"></i> Copy
                </button>
                <button class="control-button" (click)="exportExcel()">
                  <i class="fas fa-file-excel"></i> Excel
                </button>
                <button class="control-button" (click)="print()">
                  <i class="fas fa-print"></i> Imprimir
                </button>
                <button class="control-button" (click)="proximamente()">
                  <i class="fas fa-columns"></i> Columnas
                </button>
                <button class="control-button more-button" (click)="proximamente()">
                  Mostrar <i class="fas fa-caret-down"></i>
                </button>
              </div>
              <div class="right-controls">
                <label for="filtrar">Filtrar: </label>
                <input id="filtrar" type="text" class="filter-input" (input)="searchInUsers($event)" />
              </div>
            </div>

            <div id="print-section" class="table-responsive">
              <table class="users-table">
                <thead>
                  <tr>
                    <th>Nombre <span class="sort-icon">&#9650;</span></th>
                    <th>Email <span class="sort-icon">&#9660;</span></th>
                    <th>
                      Fecha registro <span class="sort-icon">&#9660;</span>
                    </th>
                    <th>Ultimo login <span class="sort-icon">&#9660;</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of filteredUsers">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.createdAt | date: 'dd/MM/yyyy hh:mm a':'America/Mexico_City' }}</td>
                    <td>{{ user.updatedAt | date: 'dd/MM/yyyy hh:mm a':'America/Mexico_City' }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Fecha registro</th>
                    <th>Ultimo login</th>
                  </tr>
                </tfoot>
              </table>
            </div>

            <div class="table-footer">
              <div class="pagination-info">
                Mostrando registros del 1 al {{ users.length }} de un total de
                {{ users.length }}
              </div>
              <div class="pagination-controls">
                <button class="pagination-button">Primero</button>
                <button class="pagination-button">Anterior</button>
                <button class="pagination-button active">1</button>
                <button class="pagination-button">Siguiente</button>
                <button class="pagination-button">Ultimo</button>
              </div>
            </div>
          </app-card-dashboard>
        </div>
      </div>
    </div>
  </div>
</div>
